{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Test": "./test",
          "Styles": "./src/styles",
          "Img": "./assets/img",
          "Components": "./src/components",
          "Constants": "./src/constants",
          "Utils": "./src/utils",
          "Types": "./src/types"
        }
      }
    ]
  ]
}
